.sidebar {
  background-color: #111;
  color: #fff;
  width: 280px; /* Adjust the width as needed */
  height: auto;
  transition: width 0.4s ease; /* Use ease timing function for smoother animation */
  padding-top: 60px;
  font-family: Arial, sans-serif;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4); /* Add box shadow */
  border-radius: 2px; /* Make the borders smoother */
}

.sidebar.collapsed {
  width: 90px;
}

.toggle-btn {
  background: transparent;
  border: none;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  left: 10px;
  transition: transform 0.2s ease; /* Reduce animation duration */
}

.toggle-btn:hover {
  transform: scale(1.1); /* Scale up on hover for better visual feedback */
}

.menu-items {
  list-style: none;
  font-size: 20px;
  padding: 20px;
  margin-bottom: 200px;
}

.menu-items li {
  padding: 10px;
  border-bottom: 1px solid #333;
  transition: border-color 0.3s ease; /* Add transition for border color */
}

.menu-items li:last-child {
  border-bottom: none;
}

.menu-items a {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 20px;
  margin-bottom: 20px; /* Adjusted font size */
  transition: background-color 0.3s ease; /* Add transition effect */
}
.menu-items a:hover {
  color: grey; /* Change text color on hover */
}

.menu-items a span {
  margin-left: 10px;
}

.menu-items li:hover {
  padding: 15px; /* Increase padding on hover */
  background-color: #333; /* Change background color on hover */
  transition: padding 0.3s ease, background-color 0.3s ease; /* Add transition effect */
}
