@use "../abstracts/" as *;

.about-us-container {
  position: relative;
}

.background-image {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.content {
  position: relative;
  z-index: 1;
  margin: 0 auto;
  font-family: Arial, sans-serif;

  .section {
    display: flex;
    flex-direction: column;
    align-items: center;

    .our-story {
      display: flex;
      align-items: center;

      .our-story-image {
        width: 50px; /* Adjust width */
        height: 50px; /* Adjust height */
        margin-right: 50px; /* Adjust margins */
        margin-left: 50px; /* Adjust margins */
      }
    }

    .section-heading {
      font-weight: bold;
      color: #000;
      font-size: 34px;
      margin-bottom: 30px;
      text-align: center;
    }

    .paragraph {
      margin: 20px;
      margin-bottom: 300px;
      font-size: 26px;
    }

    .philosophy-image {
      width: 50px; /* Adjust width */
      height: 50px; /* Adjust height */
      margin-right: 50px; /* Adjust margins */
      margin-left: 50px; /* Adjust margins */
      order: 1; // Move the image to the top of the section
    }
  }

  .section:nth-child(even) {
    flex-direction: row-reverse; // Reverse the direction of even sections
    .philosophy-image {
      order: -1; // Move the image to the end of the section
    }
  }
}
