@use "../abstracts/" as *;

.about-us-container {
  position: relative;
}

.background-image {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.content {
  position: relative;
  z-index: 1;
  margin: 0 auto;
  font-family: Arial, sans-serif;

  .section {
    display: flex;

    .our-story {
      display: flex;
      align-items: center;

      .our-story-image {
        width: 600px;
        height: 600px;
        margin-right: 200px;
        margin-left: 200px;
      }
    }

    .section-heading {
      font-weight: bold;
      color: #000;
      font-size: 34px;
      margin-bottom: 30px;
      paddingtop: 0px;
      text-align: center;
    }

    .paragraph {
      margin: 20px;
      margin-bottom: 300px;
      font-size: 26px;
    }

    .philosophy-image {
      width: 500px;
      height: 500px;
      margin-right: 200px;
      margin-left: 200px;
    }
  }
}
